# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
backend/Zonalyze/

# Environment files
.env
*.zip
*.csv
*.docx

# Node
node_modules/
dist/
build/
.vite/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs / test artifacts
*.log
.pytest_cache/
.coverage
htmlcov/
